.results-wrap
  background: white
  flex: 2
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  position: absolute
  width: 100%
  transform: translateX(100%)

.show-results
  transition: transform .25s ease-in
  transform: translateX(0)

.results-wrap
  display: flex
  flex-wrap: wrap

.result-container
  height: 50%
  width: 50%
  display: flex
  align-items: center
  justify-content: center
  position: relative

.weather-image
  position: absolute
  top: 1rem
  right: 1rem
  height: 3rem
  width: 3rem

.grid-list
  justify-content: center

.grid-list > div
  height: 50% !important
  width: 50% !important
  padding: 0.5rem !important

.grid-tile
  height: 100% !important
  box-shadow: 2px 1px 5px #aaa
  // background: white
  // height: 95% !important
  background: white
  // margin: 0.5rem
//
// .grid-tile > img
//   left: 12.5% !important
//   width: 100% !important
//   top: 50% !important
//   height: 100% !important

.commuter-image
  transform: translateY(0%) !important
  position: static !important
  left: 12.5% !important
  width: 100% !important
  top: 50% !important
  height: 100% !important
