$color-primary: #21b2fe
$color-primary-light: lighten($color-primary, 10%) !default
$color-primary-dark: darken($color-primary, 18%) !default
$secondary-color: #d62d34

.left-translate
  transform: translateX(-100%)

.top-translate
  transform: translateY(-100%)
