@import url("https://fonts.googleapis.com/css?family=Roboto");
.left-translate {
  transform: translateX(-100%); }

.top-translate {
  transform: translateY(-100%); }

* {
  box-sizing: border-box; }

html, body, #root, .App {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.search-container {
  display: flex;
  height: 100%; }

.search-wrap {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative; }

.address-search-wrap, .query-parameter-container {
  padding-left: 2rem;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.search-icons-wrap {
  background: #21b2fe;
  flex: 2; }

.search-input-wrap {
  width: 90%; }

#pac-input {
  font-size: 1rem;
  line-height: normal;
  padding: .75rem;
  border: 1px solid #a0a0a2;
  border-radius: .25rem;
  color: #2c2d30;
  width: 100%;
  max-width: 100%;
  margin: 0 0 .5rem;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  box-shadow: none;
  height: auto; }

.show-search-params {
  transform: translateY(0);
  transition: opacity .33s ease-in, transform .25s ease-in; }

.hide-location-search {
  transition: opacity .33s ease-in, transform .25s ease-in;
  transform: translateX(-100%);
  opacity: 0; }
