html, body, #root, .App {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.location-search-container {
  display: flex;
  height: 100%; }

.address-search-wrap {
  background: blue;
  flex: 1; }

.search-icons-wrap {
  background: yellow;
  flex: 2; }
